<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swpuiot.schoolnews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_image_applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.MyDataActivity" />
        <activity android:name=".view.AboutOursActivity" />
        <activity android:name=".view.VisitWebsitsActivity" />
        <activity android:name=".view.DepartmentAdministrationActivity" />
        <activity android:name=".view.MyConcernActivity" />
        <activity android:name=".view.HistoryActivity" />
        <activity android:name=".view.SendFileActivity" />
        <activity android:name=".view.WebActivity"></activity>
    </application>

</manifest>
